


<img src="assets/promotion.jpg" class="w-full" />
<div class="p-6 max-w-4xl mx-auto">
    <div>
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Cities with food delivery</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-4">
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order food online in Bangalore
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order food online in Gurgaon
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order food online in Hyderabad
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order food online in Delhi
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order food online in Mumbai
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order food online in Pune
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order food online in Kolkata
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order food online in Chennai
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order food online in Ahmedabad
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order food online in Chandigarh
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order food online in Jaipur
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order food online in Sikkim
            </button>
        </div>
    </div>

    <div class="mt-8">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Cities with grocery delivery</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-4">
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order grocery delivery in Bangalore
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order grocery delivery in Gurgaon
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order grocery delivery in Hyderabad
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order grocery delivery in Delhi
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order grocery delivery in Mumbai
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order grocery delivery in Pune
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order grocery delivery in Kolkata
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order grocery delivery in Chennai
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order grocery delivery in Ahmedabad
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order grocery delivery in Chandigarh
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order grocery delivery in Jaipur
            </button>
            <button
                class="bg-white border border-gray-200 rounded-lg py-3 px-4 text-gray-800 hover:bg-gray-100 w-full text-center">
                Order grocery delivery in Agartala
            </button>
        </div>
    </div>
</div>